* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1020px;
}

.tesla__title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 40px;
    margin-left: 55px;
}

.tesla__body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.tesla__wheels {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 415px;
    /* animation: wheel 1.2s infinite -2s linear; */

}

.tesla__wheels img {
    width: 80px;
}

.first__wheel {
    left: 597px;
    position: relative;

}

.second__wheel {
    left: 831px;
    position: relative;
}







.car__info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 700;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 10px;
}

.car__tool {

    bottom: 70px;
    font-size: 37px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 79px;


}

span {
    font-size: 10px;
    font-family: 'Roboto';
}



.car__tool img {
    width: 17px;

}




body {
    overflow: hidden;
}

@keyframes wheel {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}