* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
}

/* .car {
    margin: 0 auto;
    position: relative;
    width: 400px;
    animation: moving 10s linear -2s infinite;
} */

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}



.car__info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 160px;
    gap: 20px;
    font-family: 'Roboto';
    font-size: 50px;
    font-weight: 700;
    left: 590px;
    gap: 100px;
    padding-bottom: 20px;
}

.car__tool {
    position: absolute;
    bottom: 70px;
    font-size: 37px;
    font-family: 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 79px;


}

span {
    font-size: 10px;
    font-family: 'Roboto';
}



.car__tool img {
    width: 17px;

}

.btn {
    bottom: 0px;
    position: absolute;
}

.weel {
    animation: wheel 0.5s infinite -2s linear;
    background: url('https://i.stack.imgur.com/0Osjx.png') center/cover;
    position: absolute;
    width: 125px;
    bottom: 278px;
    rotate: 360deg;
    transition: ease 1.5s;
}

.weel:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.weel1 {
    left: 510px;
}

.weel2 {
    right: 485px;
}

/*animations*/
/* @keyframes carmove {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(1px)
    }

    29% {
        transform: translateY(2px)
    }

    33% {
        transform: translateY(3px)
    }

    47% {
        transform: translateY(0px)
    }

    58% {
        transform: translateY(1px)
    }

    62% {
        transform: translateY(2px)
    }

    66% {
        transform: translateY(3px)
    }

    75% {
        transform: translateY(1px)
    }

    100% {
        transform: translateY(0px)
    }
} */

@keyframes wheel {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

/* @keyframes moving {
    0% {
        right: -80em;
        animation-timing-function: ease-out;
    }

    35% {
        right: 0;
    }

    36%,
    56% {
        right: 0;
        animation-timing-function: ease-in;
    }

    100% {
        right: 120%;
    }
} */

body {
    overflow: hidden;
}